@import url('https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.background{
    background-image: url(images/background2.jpg);
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    background-size: cover;
    background-position: center;
    filter: blur(3px);
}

.vignette{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 100px rgba(0,0,0,0.9) inset;
}

#header{
    width: 100%;
    height: 100vh;
}

.container{
    padding: 10px 5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
    filter: brightness(80%);
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #75c1c2;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #75c1c2;
}

/* about */

.about{
    margin: 100px 0;
    padding: 80px 0;
    color: #ababab;
    background-color: #0a152c;
    border-radius: 20px;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 10px;
    margin: 0 20px;
}

.about-col-2{
    flex-basis: 60%;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #75c1c2;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #75c1c2;
    font-size: 16px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}